/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    clear: both;
    text-align: center;
    width: 100%;
}
