/* ==========================================================================
   Menus
   ========================================================================== */
 nav{
    position: fixed;
    top: $header-height;
    width: 100%;
    height: 100%;
    margin: 0;
    background: $menu-bg;
    z-index: 100;

    // Animation for menu on in the end
    visibility: hidden;
    opacity: 0;
    transform-style: preserve-3d;
    transform: translate3d(0,100px,0) scale(1.2);
    transition: transform 0.3s, opacity 0.4s, visibility 0s 0.4s;
    // End animate

    @include bp(tablet) { 
        position: static; 
        height: $header-height;
        float: right;
        width: 80%;


        // animation
        visibility: visible;
        opacity: 1;
        transform: translate3d(0,0,0) scale(1);  
        // animation end
    }

   ul.navbar-list{
       width: 100%;
       margin-bottom: 0;
       list-style-type: none;

       @include bp(tablet) {
           width: 100%;
           top: 0;
           float: left;
           position: static;
           text-align: right;
           padding-right: 40px;
       };
       
       
       li{
            width: 100%;
            padding: 0 10px;
            height: $header-height;
            line-height: $header-height;
            text-align: center;

           @include bp(tablet) {
                width: auto;
                display: inline-block;
           }
           
       }    
   }

}

.menu-on nav{
    visibility: visible;
    opacity: 1;
    transform: scale(1);    
    transition: transform 0.4s, opacity 0.4s;
}
