/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure

$menuBreakpoint: 780px;

$small: 600px;
$medium: 780px;
$large: 1300px;

// Text Selection
$selectionColor: #6DC3CC;

// Colors
$red: #FF474B;
$blue:#2697CC;
$white: #f4f2f2;
$black: #111111;
$grey: #333333;

$header-height: 60px;

// $menu-bg: #F12D74;
// $header-bg: #F12D74;

$menu-bg: #fff;
$header-bg: #fff;
